@page {
  size: 80mm 120mm; /* fixed thermal receipt size */
  margin: 0;
}

@media print {
  html, body {
    width: 80mm;
    height: 120mm;
    margin: 0;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    background: white;
  }

  #root {
    margin: 0 auto;
    width: 80mm;
  }
}
